@model IEnumerable<Petroleance.Models.FanModels.Image>

@{
    ViewBag.Title = "ImageList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<article class="container">
    <h2>ImageList</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { Id = ViewBag.AlbumId })
    </p>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="panel-title">
                <h2>Стетьи</h2>
                <br />
            </div>
        </div>
        <div class="col s12">
            <div class="grid-container">
                @foreach (var item in Model)
                {
                    <div class="grid-item">
                        <a href="@Url.Content(item.FilePath + "/" + item.Name + "large" + item.Extension)" alt="@item.Alt" data-gallery>
                            <div class="blur">
                                <img src="@Url.Content(item.FilePath + "/" + item.Name + "small" + item.Extension)" alt="@item.Alt" />
                            </div>
                        </a>                      
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</article>









@section scripts{

    <script type="text/javascript">

            var items = '[data-gallery]';
            var container = '.blueimp-gallery';

            $(document).on('click', items, function (event) {
                new window.blueimp.Gallery(
                    $(items),
                    {
                        container: $(container)[0],
                        index: this,
                        event: event,

                        onopen: function () { },
                        onopened: function () { },
                        onslide: function () { },
                        onslideend: function () { },
                        onslidecomplete: function () { },
                        onclose: function () { },
                        onclosed: function () { }
                    }
                )
            });
            var parameters = {
                gridContainer: '#grid-container',
                gridItems: '.grid-item',
                enableImagesLoaded: true
            };
            var grid = new justifiedGrid(parameters);
            grid.initGrid();

    </script>
}




<!-- <a href="Url.Action("Delete", "Image", new { id = item.Id })" class="btn btn-primary img-del-but"><i class="glyphicon glyphicon-remove"></i></a>
                        <div class="grid-item admin-image">

                        </div>
                        <div class="admin-image-text">
                            <h4 class="media-heading">item.Name.Substring(0, item.Name.Length < 20 ? item.Name.Length : 20)</h4>
                            <p class="text-info">item.Date</p>
                        </div>-->